.b1{
	background:orangered;
	bottom: 300px;
  right: 300px;
}

.b2{
	background-color:#7FBA00;
	bottom: 300px;
	left: 210px;
}

.b3{
	background-color:#00A4EF;
	top: 210px;
  right: 300px;
}

.b4{
	background-color:#FFB900;
	top: 210px;
	left: 210px;
}

.box{
	border: 3px solid black;
	position: absolute;
	width: 100px;
	height: 100px;
	box-shadow: 15px 15px 5px -5px rgb(73, 169, 182);
	animation-name: scale;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}


.App {
	background-color:lightgreen;
	height:100vh;
	width:100vw;
}
 .logo {
	transform: skew(0deg,-7deg);
 }

 .circle {
	position: absolute;
	height:500px;
	width:500px;
	top: 16%;
	left: 20%;
	background-color:skyblue;
	border-radius: 50%;
	/* animation-name: emerge;
	animation-duration: 5s;
	animation-iteration-count: 4; */


 }

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin 4 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
@keyframes positionChange {
	0% {top: 100px;left: 100px;}

	25% {top: 200px;left: 300px;}

	50% {top : 100px;left: 400px;}

	75% {top: 400px;left: 400px;}

	100% {top: 100px;left: 100px;}
}



@keyframes scale {
	0%{
		width: 0px;
		height: 0px;
	}

	50%{
		width: 100px;
		height: 100px;
	}
	100%{
		width: 0px;
		height: 0px;
	}
}
@keyframes emerge {
	0%{ border-radius: 0%;}

	50%{ border-radius: 60% }

	0%{ border-radius: 0%;}
}

@keyframes expand {
	from{
		width: 0px;
		height: 0px;
		margin-top:50px;
		margin-left:50px;
	}

	to{
		width: 100px;
		height: 100px;
		margin-top:0px;
		margin-left: 0px;
	}
}
